<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" v-if="!completed">
                    <div class="panel-body">                    
                    <form-wizard @on-complete="onComplete"
                       title="Creación de cuenta"
                       subtitle="Obtén acceso a Self Management System"
                       shape="circle"
                       back-button-text="Atrás"
                       next-button-text="Siguiente"
                       finish-button-text="Crear Cuenta"
                       color="#68bcd1">
                         <tab-content title="Búsqueda de Empleado"
                                      icon="ti-user"
                                      :before-change="validateFirstStep">
                           <search-employee by="identity"
                                            @success="employeeFound"
                                            @not-found="employeeNotFound()">                             
                           </search-employee>
                           <div class="alert alert-danger"
                                id="employee-not-found-alert"
                                style="margin-top: 20px; display: none"
                                v-if="!employee">
                            <strong>¡Vaya!</strong> no hemos encontrado una coincidencia con los datos suministrados. Intenta nuevamente
                           </div>
                           <div class="alert alert-danger"
                                id="employee-not-found-alert"
                                style="margin-top: 20px;"
                                v-else-if="employee.have_user">
                            <strong>¡Vaya!</strong> Este Empleado ya tiene un Usuario registrado <a href="#">¿Has olvidado tu contraseña?</a>
                           </div>
                           <div class="alert alert-success"
                                id="employee-found-alert" 
                                style="margin-top: 20px;"
                                v-else>
                            <strong>¡Excelente {{ employee.name }}!</strong> te encuentras en nuestros registros. Puedes continuar con el proceso.
                           </div>
                         </tab-content>
                         <tab-content title="Datos de la Cuenta"
                                      icon="ti-pencil-alt"
                                      :before-change="validateThirdStep">
                           <div class="employee-data"
                                v-if="employee">
                            <h2>Datos del Empleado</h2>
                            <table class="table">
                              <tr>
                                <td>Nombre del Empleado:</td>
                                <td>{{ employee.name }}</td>
                              </tr>
                              <tr>
                                <td>Cédula de Identidad:</td>
                                <td>{{ employee.identity }}</td>
                              </tr>
                              <tr>
                                <td>Número de personal SAP:</td>
                                <td>{{ employee.sap_id }}</td>
                              </tr>
                            </table>
                           </div>
                           <div class="form">
                             <div class="form-group"
                                  :class="{'has-error': errors.has('username')}">
                               <label for="username">Nombre de Usuario</label>
                               <input type="text" 
                                      name="username" 
                                      class="form-control" 
                                      placeholder="Inserta tu nombre de usuario"
                                      v-model="register_form.username"
                                      v-validate="'required|alpha_num'">
                                <span v-show="errors.has('username')" class="text-danger">{{ errors.first('username') }}</span>
                             </div>
                             <div class="form-group"
                                  :class="{'has-error': errors.has('password')}">
                               <label for="password">Contraseña</label>
                               <input type="password" 
                                      name="password" 
                                      class="form-control" 
                                      placeholder="Inserta una Contraseña"
                                      v-model="register_form.password"
                                      v-validate="'required|alpha_num|min:6|max:20'">
                                <span v-show="errors.has('password')" class="text-danger">{{ errors.first('password') }}</span>
                             </div>
                             <div class="form-group"
                                  :class="{'has-error': errors.has('password_confirmation')}">
                               <label for="password_confirmation">Confirme su Contraseña</label>
                               <input type="password" 
                                      name="password_confirmation" 
                                      class="form-control" 
                                      placeholder="Repite la Contraseña"
                                      v-model="register_form.password_confirmation"
                                      v-validate="'required|alpha_num|min:6|max:20'">
                               <span v-show="errors.has('password_confirmation')" class="text-danger">{{ errors.first('password_confirmation') }}</span>
                             </div>
                           </div>
                         </tab-content>
                         <tab-content title="Resumen de Cuenta"
                                      icon="glyphicon glyphicon-list">
                           <div class="employee-data"
                                v-if="employee">
                            <h2>Estos son tus datos</h2>
                            <table class="table">
                              <tr>
                                <td>Nombre del Empleado:</td>
                                <td>{{ employee.name }}</td>
                              </tr>
                              <tr>
                                <td>Cédula de Identidad:</td>
                                <td>{{ employee.identity }}</td>
                              </tr>
                              <tr>
                                <td>Número de personal SAP:</td>
                                <td>{{ employee.sap_id }}</td>
                              </tr>
                              <tr>
                                <td>Nombre de Usuario:</td>
                                <td>{{ register_form.username }}</td>
                              </tr>
                            </table>
                            <p>Si estás de acuerdo con la información, presiona el botón <strong>Crear Cuenta</strong></p>
                           </div>
                         </tab-content>
                     </form-wizard>
                    </div>
                </div>

                <!-- Once the Registration is Completed -->
                <div class="panel panel-default" id="welcome-message" v-else>
                  <div class="panel-body">
                    <p align="center">
                      <span class="ti-check" style="font-size: 30pt; color: #6ca84b"></span> ¡Registro Completado! Bienvenido a Self Management System. <a href="/login">Ir al Login</a>
                    </p>                    
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
          return {
            completed: false,
            employee: null,
            register_form: {
              username: '',
              password: '',
              password_confirmation: '',
            }
          }
        },
        methods: { 
            employeeFound(result) {              
              this.employee = result;
            },           
            employeeNotFound() {
              $("#employee-not-found-alert").show();
              this.employee = null;
            },
            validateFirstStep() {              
              if(this.employee != null && !this.employee.have_user) return true;              
              return false;
            },
            validateThirdStep() {
              if(this.register_form.password != this.register_form.password_confirmation) {
                alert('No coinciden');
                return false;
              }
              return this.$validator.validateAll();              
            },
            onComplete() {
                $('#loader').fadeIn()
                axios.put('/api/user/create', {                  
                    employeeIdentity: this.employee.identity,
                    username: this.register_form.username,
                    password: this.register_form.password
                  })
                  .then(function () {
                    $('#loader').fadeOut()
                    this.completed = true;
                  }.bind(this));
            },
        }
    }
</script>

<style lang="scss">
    .step-description {
        padding: 5px;
    }
    .employee-data {
      padding: 15px;
    }
</style>