<template>
    <div v-if="field_is_valid">
        <div class="form-inline">            
            <div class="row">
              <div class="col-xs-3">
                  <label for="identity col-xs-12">{{ typeLabel }}</label> 
              </div>
              <div class="col-xs-8">
                  <div class="input-group"
                       :class="{'has-error': errors.has('identity')}">
                    <input type="text"
                             class="form-control"
                             :class="{'has-error': errors.has('identity')}"
                             :name="search_type"                       
                             :placeholder="typePlaceholder" 
                             v-model="search_value"
                             @keyup.enter="searchEmployee()"
                             v-validate="'required|numeric'"
                             required> 
                    <span class="input-group-btn">
                      <button class="btn btn-default"
                              id="search-employee-btn"
                              @click="searchEmployee()">
                              <i class="ti-search"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->  
              </div>
          </div>
        </div>
        <span v-show="errors.has('identity')" class="text-danger">{{ errors.first('identity') }}</span>
    </div>
</template>

<script>
    export default {
        mounted() {
            if(! this.searchTypeIsValid()) {
                return console.error('The given search type: ' + this.search_type + ' is not valid');
            }            
        },
        props: ['by'],
        data() {
            return {
                valid_search_types: [
                   'identity', 'sap_id'
                ],
                field_is_valid : false,
                search_type: this.by,
                search_value: "",
            }
        },
        computed: {
            
            typeLabel() {
                switch(this.search_type) {
                    case 'identity': return 'Cédula de Identidad';
                    case 'sap_id': return 'Número de Personal SAP'
                }
            },
            typePlaceholder() {
                switch(this.search_type) {
                    case 'identity': return 'Ejemplo: 22286953';
                    case 'sap_id': return 'Ejemplo: 7096'
                }
            }
        },
        methods: {
            searchTypeIsValid() {
                this.field_is_valid = this.valid_search_types.includes(this.search_type);
                return this.field_is_valid;
            },
            searchEmployee() {
              $('#loader').fadeIn();
              this.$validator.validate('identity').then((result) => {
                if (result) {                                
                  this.$emit('search');
                  axios.get('/api/employee/', {
                  params: {                  
                    searchType: this.search_type,
                    identity: this.search_value
                  }
                  })
                  .then(function (response) {
                    $('#loader').fadeOut();
                    response.data.http_code == 200 ? this.$emit('success', response.data.employee) : this.$emit('not-found');
                  }.bind(this));
                  return;
                }
              }); 
            }
        }     
    }
</script>

<style lang="scss">
</style>

