<template>
    <div>
        <evaluation-objectives :evaluation="evaluation" :view="view"></evaluation-objectives>
    </div>
</template>

<script>
    export default {
    	props: ['evaluation', 'view'],
        data() {
            return {

            }
        }
    }
</script>