<template>

    <div>
        <div v-if="Object.keys(objectives).length > 0">
            <table class="objectives-table table">
                <thead>
                <tr>
                    <th>Nro.</th>
                    <th>Objetivo</th>
                    <th>Descripción</th>
                    <th>Meta</th>
                    <th>Alcance</th>
                    <th>Fecha Límite</th>
                    <th>Peso (%)</th>
                    <th>Resultado</th>
                    <th v-if="view != 'true'">Acciones</th> <!-- Only on Editing Mode -->
                </tr>
                </thead>
                <tbody>
                <tr v-for="(objective, index) in objectives" v-if="! objective.qualifying">
                    <td># {{ index + 1 }}</td>
                    <td>{{ objective.title }}</td>
                    <td>{{ objective.description }}</td>
                    <td>{{ objective.goal }}</td>
                    <td>{{ objective.scope }}</td>
                    <td>{{ objective.from_date }} - {{ objective.to_date }}</td>
                    <td>{{ objective.weight }}%</td>
                    <td v-if="objective.have_result">{{ objective.result }}%</td>
                    <td v-else>Objetivo sin Calificar</td>
                    <td>
                <tr v-if="view != 'true'"> <!-- Only on Editing Mode -->
                    <td v-if="! objective.have_result">
                        <a href="#"
                           class="btn btn-default btn-sm"
                           title="Calificar"
                           @click="startQualifying(objective)">
                            <i class="ti-thumb-up"></i>
                        </a>
                    </td>
                    <td v-else>
                        <a href="#"
                           class="btn btn-default btn-sm"
                           title="El Objetivo Ha Sido Calificado"
                           disabled>
                            <i class="ti-hand-point-up"></i>
                        </a>
                    </td>
                    <td>

                    </td>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm"
                           @click="removeObjective(objective.id, index)">
                            <i class="ti-trash"></i>
                        </a>
                    </td>
                </tr>
                </td>
                </tr>
                <tr v-else class="warning">
                    <td># {{ index + 1 }}</td>
                    <td>{{ objective.title }}</td>
                    <td>{{ objective.description }}</td>
                    <td>{{ objective.goal }}</td>
                    <td>{{ objective.scope }}</td>
                    <td>{{ objective.from_date }} - {{ objective.to_date }}</td>
                    <td>{{ objective.weight }}%</td>
                    <td>
                        <select class="form-control input-sm" v-model="objective_score_form.selected_objective_score">
                            <option :value="score.id" v-for="(score, index) in objectives_score">{{ score.title }} - {{ score.value * objective.weight }}%</option>
                        </select>
                    </td>
                    <td>
                <tr>
                    <td>
                        <a href="#"
                           class="btn btn-success btn-sm"
                           title="Calificar"
                           @click="addResult(objective)">
                            <i class="ti-check"></i>
                        </a>
                    </td>
                    <td>

                    </td>
                    <td>
                        <a href="#" class="btn btn-danger btn-sm"
                           @click="cancelQualifying(objective)">
                            <i class="ti-close"></i>
                        </a>
                    </td>
                </tr>
                </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td v-if="objectivesTotalWeight < 100 && view != 'true'"><a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newObjectiveModal"><i class="ti-plus"></i></a></td> <!-- Only on Editing Mode -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ this.objectivesTotalWeight }}%</td>
                    <td>Total: {{ objectivesTotalResult }}%</td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div v-else>
            No existen Objetivos para la Evaluación de Desempeño Actual
            <a  v-if="view != 'true'" href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#newObjectiveModal"><i class="ti-plus"></i></a> <!-- Only on Editing Mode -->
        </div>
        <!--Modals-->
        <!-- New Objective Modal -->
        <div v-if="view != 'true'" class="modal fade" id="newObjectiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> <!-- Only on Editing Mode -->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agregar Nuevo Objetivo</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Objetivo</label>
                            <input type="text"
                                   name="title"
                                   class="form-control"
                                   placeholder="Creación de Campaña de Marketing"
                                   v-model="new_objective_form.title"
                                   v-validate="'required'">
                            <span v-show="errors.has('title')" class="text-danger">{{ errors.first('title') }}</span>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea name="description"
                                      class="form-control"
                                      placeholder="Campaña Movimiento Activo 2017"
                                      v-model="new_objective_form.description"
                                      v-validate="'required'">
                        </textarea>
                            <span v-show="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
                        </div>
                        <div class="form-group">
                            <label>Meta</label>
                            <textarea name="goal"
                                      class="form-control"
                                      placeholder="Aumento de 70% en Ventas Generales"
                                      v-model="new_objective_form.goal"
                                      v-validate="'required'">
                        </textarea>
                            <span v-show="errors.has('goal')" class="text-danger">{{ errors.first('goal') }}</span>
                        </div>
                        <div class="form-group">
                            <label>Alcance</label>
                            <textarea name="scope"
                                      class="form-control"
                                      placeholder="Primera fase completada"
                                      v-model="new_objective_form.scope"
                                      v-validate="'required'">
                        </textarea>
                            <span v-show="errors.has('scope')" class="text-danger">{{ errors.first('scope') }}</span>
                        </div>
                        <div class="form-group">
                            <label>Fecha Límite</label>
                            <div class="form-inline">
                                Desde:
                                <select class="form-control"
                                        v-model="new_objective_form.from_date">
                                    <option v-for="quarter in fromQuarters">{{ quarter }}</option>
                                </select>
                                Hasta:
                                <select class="form-control"
                                        v-model="new_objective_form.to_date">
                                    <option v-for="quarter in toQuarters">{{ quarter }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Peso</label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only">Peso (Decimal)</label>
                                    <div class="input-group">
                                        <input type="number"
                                               name="weight"
                                               class="form-control"
                                               v-model.number="new_objective_form.weight"
                                               v-validate="'between: 1, 100'"
                                               placeholder="25">
                                        <div class="input-group-addon">%</div>
                                    </div>
                                    <span v-show="errors.has('weight')" class="text-danger">{{ errors.first('weight') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ti-close"></i></button>
                        <button type="button"
                                class="btn btn-primary"
                                @click="addObjective">
                            <i class="ti-save"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /New Objective Modal -->
    </div>
</template>

<style lang="scss">
    .objectives-table {
        font-size: 9pt;
        td {
            padding: 5px;
        }
    }
</style>


<script>
    export default {
        mounted() {
            $('#loader').fadeIn();
            axios.get('/api/objectives/' + this.evaluation)
                .then(function (response) {
                    this.objectives = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });

            axios.post('/api/objectives/score')
                .then(function (response) {
                    this.objectives_score = response.data;
                }.bind(this))
                .catch(function (error) {
                    console.log(error);
                });
            $('#loader').fadeOut();
            console.log(this.view);
        },
        props: ['evaluation', 'view'],
        data() {
            return {
                new_objective_form: {
                    title: '',
                    description: '',
                    goal: '',
                    scope: '',
                    from_date: 'Q1',
                    to_date: 'Q4',
                    weight: 0,
                },
                objective_score_form: {
                    selected_objective_score: 1,
                },
                objectives: [],
                objectives_score: [],
            }
        },
        computed: {
            objectivesTotalWeight() {
                let total_weight = 0;
                $.each(this.objectives, function(index, value) {
                    total_weight += Number(value.weight);
                });
                return Number(total_weight).toFixed(2);
            },
            objectivesTotalResult() {
                let total_result = 0;
                $.each(this.objectives, function(index, value) {
                    total_result += Number(value.result);
                });
                return Number(total_result).toFixed(2);
            },
            fromQuarters() {
                return ['Q1', 'Q2', 'Q3', 'Q4'];
            },
            toQuarters() {
                switch(this.new_objective_form.from_date) {
                    case 'Q1' :
                        this.new_objective_form.to_date = 'Q1'
                        return ['Q1', 'Q2', 'Q3', 'Q4'];
                        break;
                    case 'Q2' :
                        this.new_objective_form.to_date = 'Q2'
                        return ['Q2', 'Q3', 'Q4'];
                        break
                    case 'Q3' :
                        this.new_objective_form.to_date = 'Q3'
                        return ['Q3', 'Q4'];
                        break
                    case 'Q4' :
                        this.new_objective_form.to_date = 'Q4'
                        return ['Q4'];
                        break
                }
            }
        },
        methods: {
            addObjective() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        if(this.canAddObjective()) {
                            $('#loader').fadeIn();
                            axios.post('/api/objectives/store', {
                                evaluationId: this.evaluation,
                                newObjectiveData: this.new_objective_form
                            })
                                .then(function (response) {
                                    //Adding the objective to the Array
                                    this.objectives.push({
                                        'id': response.data.id,
                                        'title': this.new_objective_form.title,
                                        'description': this.new_objective_form.description,
                                        'goal': this.new_objective_form.goal,
                                        'scope': this.new_objective_form.scope,
                                        'from_date': this.new_objective_form.from_date,
                                        'to_date': this.new_objective_form.to_date,
                                        'weight': this.new_objective_form.weight,
                                        'result': 0,
                                        'qualifying': false,
                                    });
                                    //Clearing all the fields
                                    this.clearNewObjectiveFormFields();
                                    //Hidding the form
                                    $('#newObjectiveModal').modal('hide');
                                    $('#loader').fadeOut();
                                }.bind(this))
                                .catch(function (error) {
                                    $('#loader').fadeOut()
                                    console.log(error);
                                });
                        }
                    }
                });
            },
            removeObjective(objectiveId, index) {
                this.$swal({
                    title: '¿Eliminar objetivo?',
                    text: "Esta acción no podrá ser reversada",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonClass: '#d33',
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'Cancelar'
                }).then(function() {
                    $('#loader').fadeIn();
                    axios.delete('/api/objectives/delete/' + objectiveId)
                        .then(function (response) {
                            this.objectives.splice(index, 1);
                            $('#loader').fadeOut();
                            this.$swal(
                                '¡Borrado!',
                                'El Objetivo ha sido borrado con éxito. <br> <b>Nota:</b> En caso de que el objetivo posea calificaciones, éstas serán reversadas.',
                                'success'
                            )
                        }.bind(this))
                }.bind(this));

            },

            canAddObjective() {
                if(this.new_objective_form.weight == 0) {
                    alert('El peso del objetivo no puede ser 0');
                    return false;
                } else if(Number(this.objectivesTotalWeight) + Number(this.new_objective_form.weight) > 100) {
                    alert('El peso del objetivo ha provocado el desbordamiento del límite de 100%')
                    return false;
                }

                return true;
            },

            clearNewObjectiveFormFields() {
                this.new_objective_form.title = '';
                this.new_objective_form.description = '';
                this.new_objective_form.goal = '';
                this.new_objective_form.scope = '';
                this.new_objective_form.from_date = 'Q1';
                this.new_objective_form.to_date = 'Q4';
                this.new_objective_form.weight = 0;
            },

            startQualifying(objective) {
                //Removing qualifying state on any other objective
                $.each(this.objectives, function(index, objective) {
                    if(objective.qualifying) objective.qualifying = false;
                });

                //Add qualifying state to the current objective
                objective.qualifying = true;
            },

            cancelQualifying(objective) {
                objective.qualifying = false;
            },

            addResult(objective) {
                this.$swal({
                    title: '¿Calificar Objetivo?',
                    text: "Para modificar la calificación otorgada, deberá solicitar autorización a RRHH",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonClass: '#d33',
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'Cancelar'
                }).then(function() {
                    $('#loader').fadeIn();
                    axios.post('/api/objectives/result', {
                        'objective': objective.id,
                        'score': this.objective_score_form.selected_objective_score,
                    })
                        .then(function (response) {
                            objective.qualifying = false;
                            objective.result = response.data;
                            objective.have_result = true;
                            $('#loader').fadeOut();
                            this.$swal({
                                title: '¡Calificado!',
                                text: 'El objetivo ha sido calificado correctamente.',
                                imageUrl: '/img/content-images/objectives/result-success.jpg',
                                imageWidth: 350,
                                imageHeight: 200,
                                imageAlt: 'Success',
                                animation: false
                            })
                        }.bind(this))
                        .catch(function (error) {
                            console.log(error);
                        });
                }.bind(this));
            }
        }
    }
</script>